<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="connectionString" value="Server=199.199.50.149;UId=sa;password=cimcon#123;Initial Catalog=NBIoTMBTest1"/>-->
	<add key="connectionString" value="Server=XIPL91134\SQLEXPRESS;UId=sa;password=cimcon#123;Initial Catalog=NBIoT_productiontest"/>
    <add key="IMEILen" value="15"/>
    <add key="SLCIDLen" value="10"/>
    <add key="WaitTime" value="50"/>
    <add key="PartNO" value="iSLC3100-7P-N-AD-G-IO-CATC-05-SW"/>
    <add key="SLCUAI" value="000317"/>
    <add key="LabelText" value="LEDSLC"/>


	  <add key="KafkaBroker" value="http://localhost:9092"/>
	  <add key="KafkaPath" value="D:\Softwares\kafka_2.13-2.6.0"/>
	  
	  
	  
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
